- var ggroup = 'http://groups.google.com/group/openscam';
- var scheme = 'http:';

footer.bs-footer(role='contentinfo')
  .container
    .bs-social
      ul.bs-social-buttons
        li.github-star
        li.github-fork
        li
          a.footer-button(href = ggroup + '-announcements/boxsubscribe')
            h1 Subscribe
            h2 to Email Updates
        li
          a.footer-button(href = ggroup + '-users/boxsubscribe')
            h1 Join
            h2 the Users Forum

    p
      | OpenSCAM and these docs are maintained by
      | <a href='http://cauldrondevelopment.com/'>Cauldron Development LLC</a>.

    p
      | Source code released under the
      | <a href='http://www.gnu.org/licenses/gpl-2.0.html'>GLPv2+ License</a>,
      | documentation under
      | <a href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0</a>.

    ul.footer-links
      li= 'Current version ' + version
      li.muted ·
      li
        a(href=repoURL + '/issues?state=open') Open Issues
      li.muted ·
      li
        a(href=repoURL + '/blob/master/CHANGELOG.md') Changelog

  dif.statcounter


// Placed at the end of the document so the pages load faster
script(src=scheme + '//code.jquery.com/jquery-1.10.2.min.js')
script(src=scheme +
  '//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
      
script(src=scheme +
  '//cdnjs.cloudflare.com/ajax/libs/holder/2.2.0/holder.min.js')
      
script(src='js/shadowbox.js')
script(src='js/main.js')

// Google Analytics
script
  | var id='UA-57023811-1';
  | GoogleAnalyticsObject='ga';
  | ga={'q':[['create',,'auto'],['send', 'pageview']],'l':1*new Date()};
script(src='//www.google-analytics.com/analytics.js' async=1)

// StatCounter
script(type='text/javascript')
  | var sc_project = 9895229;
  | var sc_invisible = 1;
  | var sc_security = 'b96519b2';
  | var sc_download_type = 'exe|pkg|deb';
script(src=scheme + '//www.statcounter.com/counter/counter.js')
noscript
  div.statcounter
    a.statcounter(title='web analytics', href='http://statcounter.com/',
      src='http://c.statcounter.com/9895229/0/b96519b2/1/', alt="web analytics")
