- var scheme = 'http:'

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='OpenSCAM is an Open-Source software which \
  simulates 3-axis CNC milling or engraving.  It is a fast, flexible and user \
  friendly simulation software for the DIY and Open-Source community. \
  OpenSCAM works on Linux, OS-X and Windows.')
meta(name='author', content='Joseph Coffland')

title OpenSCAM

// Main styles
- var cdn = scheme + '//netdna.bootstrapcdn.com/bootstrap';
link(rel='stylesheet', href=cdn + '/3.0.3/css/bootstrap.min.css')
link(rel='stylesheet', href=cdn + '/3.0.3/css/bootstrap-theme.min.css')
link(href='css/shadowbox.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')

// Webfonts
- var family = 'Open+Sans:400,600,700,300|Open+Sans+Condensed:300,700';
link(href=scheme + '//fonts.googleapis.com/css?family=' + family
  rel='stylesheet' type='text/css')

// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
//if lt IE 9
  - var cdn = scheme + '//oss.maxcdn.com/libs';
  script(src=cdn + '/html5shiv/3.7.0/html5shiv.js')
  script(src=cdn + '/respond.js/1.3.0/respond.min.js')

link(rel='shortcut icon', href='images/favicon.ico')
